* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

nav {
    background: #000000;
    padding: 14px 0;
}

.logo {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    gap: 75px;
}

header ul a {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    transition: color 500ms;

}

header ul a:hover {
    color: red;

}

.header-content {
    height: 850px;
    background: url(../imgs/img1.jpg) no-repeat center /cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-content h1 {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 150px;
    text-align: center;
}

.call {
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 23px 7px 24px;
    transition: background 500ms, color 500ms;
}

.call:hover {
    color: white;
    background: black;
}

.main-top {
    background: #0E1C25;
    padding-top: 30px;
    padding-bottom: 112px;
}

.title {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.main-top-box {
    display: flex;
    margin-top: 47px;
    justify-content: space-between;
}

.main-top-left {
    max-width: 500px;
    width: 100%;
}

.main-top-left img {
    width: 100%;
}

.main-top-right p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    max-width: 427px;
    width: 100%;
}

.main-top-right {
    max-width: 465px;
    width: 100%;
}

.main-top-right h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 62px;
}

.main-bottom {
    background: #5C6B81;
    padding-top: 43px;
    padding-bottom: 70px;
}

.item {
    max-width: 312px;
    width: 100%;
    background: #B12B06;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 27px 15px;
    gap: 20px;
}

.item img {
    border-radius: 10px;
}

.item h3 {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.item p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.show {
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 8px 22px;
    transition: color 500ms background 500ms;
}

.show:hover {
    color: white;
    background: black;
}

.main-bottom-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
}

footer {
    background: #000000;
    padding-top: 46px;
    padding-bottom: 62px;
}

.feedback {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 34px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.social img {
    transition: transform 500ms;
}

.social img:hover {
    transform: rotate(360deg);
}